{{with .Params.image_content_button}}
<div class="container container-delta block">
  <div class="row align-items-center flex-lg-nowrap text-center text-lg-start">
    <div class="col-lg-6">
      <div class="pe-0 pe-lg-5">
        <p class="subtitle">{{.subtitle | markdownify}}</p>
        <h2 class="title">{{.title | markdownify}}</h2>
        <p class="mb-4">{{.description | markdownify}}</p>

        {{with .button}}
        {{if .enable}}
        <a href="{{.link | relLangURL}}" class="btn btn-primary m-1">
          {{.label}} <i class="arrow-right {{.icon}}"></i>
        </a>
        {{end}}
        {{end}}

      </div>
    </div>
    <div class="col-lg-9 mt-5 mt-lg-0">
      {{with .image}}
      <div class="banner-image-2">
        {{$img:= resources.Get . }}
        {{$img:= $img.Resize "600x"}}
        {{$imgWebp:= $img.Resize "3000x webp"}}
        <img loading="lazy" decoding="async" class="img-fluid" width="{{$img.Width}}" height="{{$img.Height}}" src="{{$imgWebp.RelPermalink}}" alt="Banner Image" onerror="this.onerror=null;this.src='{{$img.RelPermalink}}'">
      </div>
      {{end}}
    </div>
  </div>
</div>
{{end}}
